<!DOCTYPE html>
<html lang="{{ language }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="private">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="width=1040">
<meta name="author" content="Igor Kharlamov, mailto:ichar@g2.ru">
  {% if title %}
<title>{{ title }}</title>
  {% else %}
<title>{{ _('Helper Configurator Main Page') }}</title>
  {% endif %}
<link href="{{ url_for('.static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="screen">
<link href="{{ url_for('.static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('.static', filename='css/jquery-ui.custom.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('.static', filename='css/style') }}.common.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('.static', filename='css/style') }}.skins.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('.static', filename='css/style') }}{{ css }}css" rel="stylesheet" type="text/css">
{% block styles %}{% endblock %}
<link href="{{ url_for('.static', filename='css/style') }}.locale.{{ locale }}.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
<!--
var os = '{{ os }}';
var isAndroid = ['android','ipad','ios'].indexOf(os.toLowerCase()) > -1 ? true : false;
//-->
</script> 
<script src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery-ui.custom.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/verge.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/core.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/calculator.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/common.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/controls.min.js') }}"></script>
  {%- if uri.root %}
<script src="{{ root }}{{ uri.root }}functions.min.js"></script>
  {%- endif %}
{% block scripts %}{% endblock %}
  {%- if uri.module %}
<script src="{{ root }}{{ uri.module }}script.min.js"></script>
  {%- endif %}
{% block starter %}{% endblock %}
<link rel="shortcut icon" href="{{ root }}static/img/favicon.ico">
</head>
<body>

<div id="html-container">

{% block header %}{% endblock %}

<div id="page-container">
<section class="pageClass aligned" id="data-section">
    {% block data_section_content %}{% endblock %}
</section>

<section id="info-section" style="display:none;">
    {% block info_section_content %}{% endblock %}
</section> 
</div>

{% block footer %}{% endblock %}

</div>

<div id="calculate-container" title="{{ _('Order parameters control form') }}" style="display:none;">
  <h3>{{ _('Check the data to calculate the cost of completing:') }}</h3>
  <div id="calculate-box">
    <table id="calculate-content" width="100%" cellspacing="3" border="0"></table>
  </div>
</div>

<div id="order-confirm-container" title="{{ _('Order confirmation form') }}" style="display:none;">
  <h3 id="order-request">{{ _('Are you really going to create an order? Please, confirm.') }}</h3>
</div>

<div id="order-container" title="{{ _('Order notification form') }}" style="display:none;">
  <h3 id="order-notification"></h3>
  <div id="order-info"></div>
</div>

<div id="system-container" title="{{ _('System information') }}" style="display:none;">
  <h3 id="system-notification"></h3>
  <div id="system-info"></div>
</div>

<div id="help-container" title="{{ _('Help information') }}" style="display:none;">
  <h3 id="help-notification">{{ _('Helper keypress guide') }}:</h3>
  <div id="help-info"></div>
</div>

<div id="error-container" title="" style="display:none;">
  <div id="error-info">
    <h3 id="error-notification">{{ _('Attention') }}</h3>
    <p id="error-text">{{ keywords['Session is expired'] }}</p>
    <div id="error-button"></div>
  </div>
</div>

<div id="calculator-container" title="{{ _('Calculator') }}" style="display:none;">
  <div id="calculator-info"></div>
</div>

<div id="page-loader" style="display:none;">
  <div>{{ _('Please, wait the system response.') }}</div>
  <img src="{{ root }}static/img/logo.png">
    <br>
  <img src="{{ root }}static/img/loader.gif">
</div>

{% block windows %}{% endblock %}

{% block exchange_content %}{% endblock %}

<script type="text/javascript">
<!--
// Core definitions
// ----------------
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$IS_FRAME = {{ is_frame }};
$IS_DEMO = {{ is_demo }};

helperCommunicationType = '{{ exchange.communication }}';
helperHttpReferer = '{{ referer|safe }}';
helperXMLVersion = '{{ page.config.xml_version }}';

host = '{{ host|safe }}';
baseURI = '{{ root }}{{ base }}';
closeURI = '{{ links.close|safe }}';
loaderURI = '{{ loader|safe }}';
currentImageURI = '{{ root }}{{ image|safe }}';
currentLocale = '{{ locale }}';
wizardName = '{{ name|safe }}';
keywords = { {{ keywords|join(', ')|safe }} };
platform = '{{ platform }}';
agent = '{{ agent }}';

current_screen = '{{ screen }}';
current_scale = [{{ scale }}];

userID = '{{ exchange.userID }}';
userTypeID = '{{ exchange.userTypeID }}';
documentID = '{{ exchange.documentID }}';
countryID = '{{ exchange.countryID }}';
regionID = '{{ exchange.regionID }}';
priceTypeID = '{{ exchange.priceTypeID }}';
sessionID = '{{ exchange.sessionID }}';
//-->
</script> 

</body>
</html>